@model CreateCommentViewModel
@*@model Review.Domain.Models.Product*@
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <img src="@Html.DisplayFor(model => model.Product.ImageURL)" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ShopURL)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.Product.ShopURL)">@Html.DisplayFor(model => model.Product.ShopURL)</a>
        </dd>
        <dd>
            <a asp-action="CreateComment" asp-route-id="@Model.Product.Id">Write a comment</a>
        </dd>
        <dd>
            @foreach (var c in Model.Comments)
            {
                @c.Description @c.WrittenDate @c.User.UserName
            }
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="@Model.Type">Back to List</a>*@
</div>
